fastapi
uvicorn
pymupdf
opencv-python
pillow
spacy
pyspellchecker
transformers
torch
sentencepiece
datasets
accelerate
peft
pydantic
sentence-transformers
pytest
pytest-cov
httpx

sqlalchemy
passlib[bcrypt]
PyJWT
python-multipart
